  <style type="text/css">
    .search-friend{
  width: 90%;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 50px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid lightgray;
  text-align: center;
}

.action-search{
  width: 200px;
  font-size: 20px;
  border: none;
  background-color: #0288D1;
  color: white;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
}



.user-list{
  width: 100%;
  box-sizing: border-box;
  float: left;
  list-style-type: none;
  padding: 0;
}

.user-list-item{
  list-style: none;
  float: left;
  width: 100%;
  border-bottom: 1px solid lightgray;
  background-color: white;
  margin: 0;
}


.user-list-item .img-container{
  width: 70px;
  height: 70px;
  display: block;
  float: left;
  margin: 10px;
  float: left;
  background-color: black;
  display: block;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}

.user-list-item img {
}

.user-list-item a{
  display: block;
  padding: 25px;
  padding-bottom: 0px;
  padding-left: 0;
  font-size: 17px;
  width: 40%;
  text-decoration: none;
  color: gray;
  float: left;
  text-align: left;
}

.user-list-item a:visited{
  color: gray;
}

.user-list-item button {
  margin: 25px 20px 20px;
  float: right;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  border: none;
  background-color: #0288D1;
  background-image: url(img/friends-icon.png);
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: center;
}
.user-list-item button.active{
  background-color: #FF9800;
}

.tiny-text {
    font-size: 10px;
    padding: 3px;
}

.new-user {
    background-color: #0288D1;
    color: #FFF;
    margin-top: 5px;
    box-sizing: border-box;
}

.card-location{
  display: inline-block;
  width: 100%;
  float: left;
  font-size: 13px;
}

@media (max-width: 440px) {
  .user-list-item a{
    width: 120px;
  }
  .action-search{
    width: 130px;
  }
}

@media (max-width: 380px) {
  .user-list-item a{
    width: 80px;
  }
  .action-search{
    width: 130px;
  }
}

.btn-enabled {
  background-color: #FF9800!important;
}


/**/


.filter-friends{
  width: 100%;
  background-color: transparent;
  height: 50px;
  margin-top: 10px;
  position: fixed;
  top: 39px;
}

.filter-friends button{
  width: 50%;
  float: left;
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  height: 100%;
  background-color: #0288D1;
  border: 1px solid lightgray;
  color: white;
  font-size: 20px;
  
}

.filter-friends button.active{
  background-color: #FF9800;
  color: white;
  /*border-bottom: 3px solid white;*/
}

.new-user-label{
  height: 30px;
  border-radius: 3px 3px 0px 0px;
  font-size: 15px;
  box-sizing: border-box;
  display: inline-block;
  color: goldenrod;
  padding-top: 5px;
  left: 91px;
  position: absolute;
}

div.full-form{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.user-list-item .message-link{
  height: 40px;
  width: 40px;
  background-color: forestgreen;
  background-image: url("img/ic_chat_bubble_white.png");
  float: right;
  margin-top: 25px;
  border-radius: 100%;
  padding: 0px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}


</style>

<div class="form-container full-form" id="form-container" style="padding-bottom: 10px;margin:auto;margin-top:70px;">
     <div class="filter-friends">
        <button ng-if="params.only_friend == 1" ng-click="getFriends('', 1);" class="btn-enabled">Amigos</button>
        <button ng-if="params.only_friend != 1" ng-click="getFriends('', 1);">Amigos</button>

        <button ng-if="params.only_friend != 1" ng-click="getFriends();" class="btn-enabled">Todos</button>
        <button ng-if="params.only_friend == 1" ng-click="getFriends();">Todos</button>
      </div>

    <input class="search-friend" ng-model="hadougamer_name" id="hadougamer_name" placeholder="Nome ou email do amigo."/>
    
    <div class="action-container">
      <button class="action-search" ng-click="getFriends(hadougamer_name)">Procurar</button>
      <button class="action-search" ng-click="inviteFriends(hadougamer_name)">Convidar</button>
    </div>

     
    
    <ul class="user-list" id="hadougamer-list" ng-if="!error_message">
      <li class="user-list-item" ng-repeat="hadougamer in hadougamers"> 
              
        <div class="img-container" style="background-image:url('{{ base_url }}pictures/profile/{{ hadougamer.picture_url }}')">
        </div>
        <div ng-if="hadougamer.type=='registred' && hadougamer.past_days == '0'" class="new-user-label">Novo gamer!</div> 

      
      
      
      <a href="#" ng-click="getFriendGames(hadougamer, 'have')" >{{ hadougamer.nickname | limitTo: 16 }}
          <span ng-if="hadougamer.city_name != null && hadougamer.type=='registred'" class="tiny-text card-location">{{ hadougamer.city_name }} / {{ hadougamer.state_short }}</span>
          <span ng-if="hadougamer.city_name == null && hadougamer.type=='registred'" class="tiny-text card-location">Localidade não informada</span>
      </a>

        
        <span ng-if="hadougamer.type=='invited'" class="tiny-text">Convidado em {{  hadougamer.date_register | limitTo: 10 }}</span>

        
        
        <button ng-if="hadougamer.is_friend == 1 && hadougamer.type=='registred'" id="bt-friend-{{hadougamer.user_id}}" data-friend-action="remove" ng-click="friendship(hadougamer.user_id, hadougamer.nickname)" class="active"></button>
        <button ng-if="hadougamer.is_friend != 1 && hadougamer.type=='registred'" id="bt-friend-{{hadougamer.user_id}}" data-friend-action="add" ng-click="friendship(hadougamer.user_id, hadougamer.nickname)"></button>

      </li>
    </ul>

    <div ng-if="error_message" ng-include="'views/partials/card-message.html'"></div>
</div>