<ul ng-if="!error_message" id="game-list">
    <li ng-repeat="item in gameList">
        <div ng-include="'views/partials/card.html'" class="card"></div>
    </li>
</ul>
<input ng-if="!error_message" type="button" class="form-button" ng-click="moreGames();" value="Mais Jogos" />

<div ng-if="error_message" ng-include="'views/partials/card-message.html'"></div>