<center>
<div class="form-container" id="form-container">

	<h2>Email: {{ remind_email }}</h2>

    <input type="hidden" ng-model="remind_email" id="remind_email" value="{{ remind_email }}" />
    
    <input type="text" ng-model="remind_code" id="remind_code" class="form-field" placeholder="Código de seguranca" />

    <input type="password"  ng-model="remind_pass" id="remind_pass" class="form-field" placeholder="Insira sua senha" />

    <input type="password"  ng-model="remind_pass_conf" id="remind_pass_conf" class="form-field" placeholder="Confirme sua senha" />

    <div class="form-element-container">
        <input type="button" class="form-button" ng-click="updatePass();" value="Salvar" />
    </div>
</div>
</center>