<center>
   <div class="form-container profile-container" id="form-container">
      <form name="sendpicture" id="sendpicture" method="POST" action="http://beecoapp.com/ws-game/upload_image.php" target="target64">
         <input type="hidden" name="filetype" value="profile" />
         <input type="hidden" name="filename" value="profile_{{ profile_data.profile_id }}.jpg" />        
         <input type="hidden" name="profile_id" value="{{ profile_data.profile_id }}" />
         <input type="hidden" name="image64" id="image64" value="" />
      </form>
      <iframe name="target64" style="display:none"></iframe>
      <div class="profile-img-container">
         <img 
            style="width: 100px; height:100px; border-radius:100%; float: left;" 
            ng-show="profile_data.profile_id"
            src = "{{ current_profile_image }}"
            id="smallImage" />
         
         <div class="picture-container">
            <a href="javascript:capturePhoto();">
               <div class="icon-camera" id="camera_picture"></div>
               <h3>Camera</h3>
            </a>
         </div>
         <!--//
            <div class="picture-container">
                <a href="#">
                    <div class="icon-gallery" id="gallery_picture"></div>
                    <h3>Galeria</h3>
                </a>
            </div>
            //--> 
      </div>
      <h3>Apelido</h3>
      <input type="hidden" id="profile_id" value="{{ profile_data.profile_id }}" rerquired />
      <input type="text" id="nickname" class="form-field" placeholder="Qual seu apelido?" value="{{ profile_data.nickname }}" rerquired />
      <h3>Estado</h3>
      <select name="state_id" id="state_id"  class="form-select" ng-model="state" ng-change="doGetCities(state)">
         <option value="0">Qual seu estado?</option>
         <option ng-selected="{{state.state_id == profile_data.state_id}}" ng-repeat="state in states" value="{{state.state_id}}">{{state.state_name}}</option>
      </select>
      <h3>Cidade</h3>
      <select name="city_id" id="city_id"  class="form-select">
         <option value="0">Qual sua cidade?</option>
         <option ng-selected="{{city.city_id == profile_data.city_id}}" ng-repeat="city in cities" value="{{city.city_id}}">{{city.city_name}}</option>
      </select>
      <h3>Sobre mim</h3>
      <textarea name="about_me" id="about_me" class="text-field" placeholder="Como você é?">{{ profile_data.resume }}</textarea>
      <div class="form-element-container">
         <input type="button" class="form-button" ng-click="doSaveProfile();" value="Salvar" />                                    
      </div>
   </div>
</center>