body {    
    margin: 0;
    padding: 0;
    background-color: #D6D6D6;
}

* {
  font-family: "Arial, Helvetica, sans-serif";
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
  font-size: 25px;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin: 0;
  display:block;
}

div.nav-item {  
  float: left;
  text-align: center;    
}

div#nav-left { width: 20%; }
div#nav-center { width: 60%; }
div#nav-right { width: 20%; }


div#game-controller {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: #D6D6D6;
}

/*NEW CARD*/
ul#game-list {
  margin-top: 95px;
}

.card{
  float: left;
  background-color: #FFF ;
  width: 100%;
  /* margin: 0 auto; */
  border-radius: 30px;
  margin: 22px 0 20px 0;
  box-sizing: border-box;
  border: 1px solid lightgray;
}

.card-content{
  
  padding: 15px;
  box-sizing: border-box;
}

.card-title{
  margin: 0;
  font-size: 20px;
  width: 90%;
  line-height: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.card-img{
  float: left;
  height: 130px;
  max-height: 130px;
  width: 130px;
  max-width: 130px;
  margin: 10px;
  border: 1px solid black;
  margin-left: 0;
  margin-top: 0;
  border-radius: 10px;
}

.card-classification{
  color: gray;
}

.card-sell-button {
  padding: auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.card-sell-button p {
  float: left;
  padding: 10px;
  margin-right: 10px;
  font-weight: bolder;
  font-size: 25px;
  color: gray;
  margin-top: 0;
  box-sizing: border-box;
}

.card-sell-button a {
  background-color: #1976D2;
  padding: 10px;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px -1px black;
  width: 35%;
  margin: 0 auto;
}

.wrapper{
  background-color:  transparent ;
  padding: 0 0 0 0;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
}

.toolbar-bottom{
  background-color: transparent;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  text-align: center;
  float: left;

}


.card-flag-button{
  width: 91px;
  margin-top: 10px;
  display: inline-block;
  
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;  
  color: white;
  height: 40px;
  border-radius: 20px;
  background-color: #2196F3;
  box-sizing: border-box;
}

.button-enabled{
  background-color: #FF9800;
}

.card-flag-button span{
  box-sizing: border-box;
  display: block;
  margin-top: 3px;
  font-size: 12px;
}

.icon-flag-watch{
  float: left;
  width: 20px;
  height: 20px;
  background-color: white;
  background: url('../img/watch-icon-disabled.png');
  background-size: cover;
  padding: 0;
}


.icon-flag-have{
  float: left;
  width: 20px;
  height: 20px;
  background-color: white;
  background: url('../img/have-icon-disabled.png');
  background-size: cover;
  padding: 0;

}

.icon-flag-sell{
  float: left;
  width: 20px;
  height: 20px;
  background-color: white;
  background: url('../img/sell-icon-disabled.png');
  background-size: cover;
  padding: 0;

}

.icon-flag-favorite{
  height: 30px;
  width: 30px;
  float: right;
  background-image: url('../img/favorite-icon-disabled.png');
  background-size: contain;
  box-shadow: none;

}



/*END NEW CARD*/

div.form-container {
  width: 90%;
  padding: 5px;
  display: block;
  text-align: center;
  margin-top: 115px;
  position:relative;
}


/*GOTTA CHANGE THIS!*/ /*GOTTA CHANGE THIS!*/ /*GOTTA CHANGE THIS!*/ /*GOTTA CHANGE THIS!*/ /*GOTTA CHANGE THIS!*/ 


/*PROFILE HTML CSS*/
div.form-container.profile-container {
  width: 100%;
  padding: 0;
  display: block;
  background-color: #EBEBEB;
  text-align: left;
  margin-top: 55px;
  position:relative;
  padding: 20px 40px;
  box-sizing: border-box;
}

.profile-container input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  color: gray;
  text-align: left!important;
  margin: 0 auto;
}

.profile-container select.form-select{
  text-align: left!important;
} 

.profile-container .profile-img{
  float: left;
  height: 115px;
  width: 115px;
  max-width: 115px;
  box-sizing: border-box;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  
}



.profile-img-container{
  height: 120px;
  width: 100%;
  display: block;
} 

.profile-img-container .picture-container{
  width: 100%;
  height: 60px;
  display: block;
}

.profile-container .form-button{
  text-align: center!important;
}

.profile-img-container .icon-camera,.profile-img-container .icon-gallery{
  float: left;
  margin: 10px;
  width: 36px;
  height: 36px;
}

.profile-container .icon-camera{
  background-image: url("../img/icon_camera_white.png"); 
}
.profile-container .icon-gallery{
  background-image: url("../img/icon_gallery_white.png");
}



.profile-container h3{
  float: left;
  color: gray;
}

/*GOTTA CHANGE THIS!*/ /*GOTTA CHANGE THIS!*/ /*GOTTA CHANGE THIS!*/ /*GOTTA CHANGE THIS!*/ /*GOTTA CHANGE THIS!*/ 

/*LOGIN HTML CSS*/

div.form-container.login{
  width: 100%;
  background-color:#FFF ;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 30%;
  margin: 0;
  height: 100%;
  color: white;
  box-sizing: border-box; 
}


.container-logo{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 120px;
  box-sizing: border-box;
}

.login .form-button{
  text-align: center!important;
  border-radius: 0;
}

.login-logo{
  display:block;
  width: 252px;
  margin: 0 auto;
  height: 100%;
  background-image: url("../img/logo_hadougame.png"); 
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;

}

.login input{
  background-color: transparent;
  color: #2196F3;
  text-align: left!important;
  margin: 0 auto;
  float: none!important;
  border: none;
  border: 2px solid #2196F3;
  border-radius: 12px;
  width: 80%!important;
  padding: 4px;
  box-sizing: border-box;
  margin: 15px 0 15px 0!important;
  text-align: center!important;
}

input.form-field, select.form-select, textarea.text-field{
  float: left;
  width:100%;
  text-align:center;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;  
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input.form-button {  
  padding: 15px 10px;
  font-size: 18px;
  line-height: 1.33;
  border-style: none;
  border-radius: 6px;
  width:99%;
  color: #333;
  background-color: #2196F3;
  color: #ffffff;
  border-color: #ccc;
  text-transform: uppercase;
}


.success, .error {
  position:relative;
  top:95px;
  text-align:center;
  border: 1px solid;
  margin: 0px 0px;
  padding:7px 7px 7px 50px;
  display: none;
  clear:both;
  z-index: 30000;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 45px;
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.error {
  color: #D8000C;
  background-color: #FFBABA;
}

a#btn-register {
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding:5px;
  color: #2196F3;
}



input#search-games {
  width:90%;
  padding: 5px;
  line-height: 20px;
  font-size:20px;
}

#filter-menu ul {
  padding:0px;
  margin:0px;
  background-color:#68C8C7;
  list-style:none;
  width: 100%;
}

#filter-menu ul li { display: inline; }

#filter-menu ul li a {
  padding: 7px 10px;
  display: inline-block;
 
  /* visual do link */
  background-color:#68C8C7;
  color: #FFF;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

#filter-menu {
  display: block;
  background-color: #68C8C7;
  position:fixed;
  width:100%;
}

#filter-menu ul li a * {
  float: left;
}

#filter-menu ul li a div {
  width:30px;
  height:30px;
  margin-right: 8px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;    
}

#filter-menu ul li#filter-favorite a div {
    background-image: url('../img/favorite-icon-color-30.png');
}

#filter-menu ul li#filter-have a div {
    background-image: url('../img/have-icon-color-30.png');
}

#filter-menu ul li#filter-watch a div {
    background-image: url('../img/watch-icon-color-30.png');
}

#filter-menu ul li#filter-general a div {
    background-image: url('../img/general-icon.png');    
}


.navbar{
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 4px -2px black;
  padding-left: 2%;
}

.container-navbar{
  width: 100%;
  box-sizing: border-box;
  background-color: #68C8C7;
  height: 100%;
  padding: 0 0px 0 10px;
}

.menu {
  display: block;
  width: 25px;
  height: 20px;
  margin-top:10px;
  background-size: 22px;
  background-repeat: no-repeat;
  background-image: url('../img/icon-burger.png');
  float: left;
}

/* Loader */
div#loader-overlay {
    position: fixed;
    display: table;
    background-color: #FFFFFF;
    filter: alpha(opacity=70);
    opacity: 0.7;
    width: 100%;
    height:100%;
    z-index: 30000;    
    -webkit-backface-visibility: hidden;
}
div#loader-overlay div{
    position: relative;
    background-color: #FF0000;
    width:32px;
    height:32px;
    margin: 0 auto;
    margin-left: 50%;
    margin-top: 25%;
    background: url(../img/loading.gif);
    background-repeat: no-repeat;
}



div#systems-container {
/*  position: relative;
  left: -7px;
  width: 100%;
  float: right;*/
  height: 50px;
}

div#systems-container select{
  /*width: 100%;*/
  text-align: center;
  background-color: rgb(33, 150, 243);
  color: #FFFFFF;
  height: 50px;
  width: 30%;
  padding-bottom: 10px;
  padding-top: 10px;
  float: right;
  border-style: none;
  font-size: 12px;
  /*box-shadow: 1px 8px 7px -8px #000;*/
}

div.content-container {
  margin-top: 70px;
  background-color: #FFF;
  padding: 20px;
}

div.content-container p {
  text-align: justify;
}

div.content-container p.subtitle{
  font-weight: bold;
  color: #1976D2;
}

div#image-disclaimer {
  font-size: 9px;
  color: #444649;
  width:100%;
  text-align: center;
  clear: both;
}

/* PROFILE */
.user-profile{
  height: 50px;
  float: left;
}

.header{
  float: left;
  top: 0px;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  float: left;
}



.header .profile-img{
  border-radius: 100%;
  height: 36px;
  width: 36px;
  float: left;
  margin-right: 10px;
}

.header h2{
  color: #FFF;
  display: block;
  margin: 0px 10px 0px 0px;
  float: left;
  line-height: 40px;
}
.header .user-info-desc,.header .user-info-email{
    font-size: 15px; 
    font-weight: 100;
}


/**/






