*{
  font-family: 'Roboto', sans-serif;
}

.popup-sellers {
  position: fixed;
  z-index: 150000;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: block;
  height: 100%;
}

.outer-window{
  height: 100%;
  width: 100%;
  background-color: black;
  display: block;
  position: fixed;
  z-index: 140000;
  opacity: 0.5;
  box-sizing: border-box;
}

.popup-window {
  background-color: transparent;
  color: black;
  margin: 0 auto;
  width: 100%;
  overflow-y: scroll;
  box-shadow: 1px 3px 20px -2px black;
  height:100%;

}

.popup-title-bar {
  width: 100%; 
  height: 30px;
  color: white;
  text-align: center;
  font-size: 10px;
  display: block;
  background-color: #303F9F;
}

.title-sell {
  width: 85%;
  display: inline-block;
  float: left;
  font-weight: lighter;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.close-btn {
  background-color:  #303F9F;
  border: none;
  float: right;
  font-size: 20px;
  color: white;
  height: 100%;
  width: 15%;
}

.popup-window ul{
  padding-left: 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0;
}

.popup-window li {
  background-color: white;
  list-style-type: none;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  padding: 10px 5px 10px 5px;
  display: block;
  border: 1px solid lightgray;
  color: gray;
}

.popup-window .context-wrapper{
  display: table;
  border: 1px solid white;
}

.popup-window h2{
  font-size: 20px;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  left: 0;
  font-weight: 500;
  padding-left: 10px;
}

.popup-window span{
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-size: 12px;
  padding-left: 10px;
}


.popup-window .sell-description{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 12px;
}

.popup-window .sell-price{
  float: right;
  font-size: 20px;
}


.popup-window .sell-locale{

}

.popup-window .button-wrapper{
  margin: 0;
  padding: 5px 10px 5px 5px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.popup-window .button-message{
  width: 70px;
  border: none;
  float: right;
  background-color: transparent;
}

.popup-window .button-message:active{
  background-color: orange;
}

.popup-window .button-message img{
  height: 35px;
  width: 35px;
  padding: 0;
}

.popup-window .profile-img{
  width: 55%;
  margin: 0;
  margin-left: 10px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  float: left;
}

.message-warning {
  font-size: 3.5vw;
  color: #FF0000;
}