<div class="wrapper">
   <!--// <img class="card-img" src="http://beecoapp.com/ws-game/images/{{item.game_id}}.jpg"/> //-->
   <div class="card-content">
      <div ng-if="friend" class="card-title" style="color:#808080; clear:both; width:100%; font-size:14px; text-transform:uppercase; padding-bottom:15px;">{{item.system_name}}</div>

      <img class="card-img" src="http://beecoapp.com/ws-game/image.php?filename={{item.image}}&system_id={{item.system_id}}"/>      

      <button id="favorite-{{item.game_id}}-btn" data-flag-status="{{ item.flags.favorite }}" class="icon-flag-favorite card-flag-button button-enabled" ng-click='toggleFlag("favorite-" + item.game_id + "-btn");' ng-if="item.flags.favorite=='Y' && !friend"></button>
      <button id="favorite-{{item.game_id}}-btn" data-flag-status="{{ item.flags.favorite }}" class="icon-flag-favorite card-flag-button" ng-click='toggleFlag("favorite-" + item.game_id + "-btn");' ng-if="item.flags.favorite!='Y' && !friend"></button>

      <h2 class="card-title">{{item.game_title}}</h2>
      <span class="card-classification">{{item.game_type}}</span>
      <p class="card-description">{{item.game_desc}}</p>
      
      <div ng-if="item.sell > 0 && !friend" class="card-sell-button">
         <a ng-if="item.sell == 1" ng-click="sellerPopup(item.game_id)" href="#">Ver {{ item.sell }} item à venda</a>
         <a ng-if="item.sell > 1" ng-click="sellerPopup(item.game_id)" href="#">Ver {{ item.sell }} itens à venda</a>
      </div>

      <div ng-if="friend && item.sell_data">
         <b>Valor (R$): {{ item.sell_data.game_value }}</b>
         <button class="button-message" ng-click="wantThisGame(user_id, item.sell_data);" style="float:right; border-style:none; background-color:#FFF; margin-right: 15px;">
            <img style="width:35px;" src="img/message_outline.png"/>
         </button>
      </div>

      <div ng-if="!friend" class="toolbar-bottom">
         <button id="watch-{{item.game_id}}-btn" data-flag-status="{{ item.flags.watch }}" class="card-flag-button button-enabled" ng-click='toggleFlag("watch-" + item.game_id + "-btn");' ng-if="item.flags.watch=='Y'">
            <div class="icon-flag-watch"></div>
            <span>QUERO</span>
         </button>
         <button id="watch-{{item.game_id}}-btn" data-flag-status="{{ item.flags.watch }}" class="card-flag-button" ng-click='toggleFlag("watch-" + item.game_id + "-btn");' ng-if="item.flags.watch!='Y'">
            <div class="icon-flag-watch"></div>
            <span>QUERO</span>
         </button>
         <button id="have-{{item.game_id}}-btn" data-flag-status="{{ item.flags.have }}" class="card-flag-button button-enabled" ng-click='toggleFlag("have-" + item.game_id + "-btn");' ng-if="item.flags.have=='Y'">
            <div class="icon-flag-have"></div>
            <span>TENHO</span>
         </button>
         <button id="have-{{item.game_id}}-btn" data-flag-status="{{ item.flags.have }}" class="card-flag-button" ng-click='toggleFlag("have-" + item.game_id + "-btn");' ng-if="item.flags.have!='Y'">
            <div class="icon-flag-have"></div>
            <span>TENHO</span>
         </button>
         <button id="sell-{{item.game_id}}-btn" data-flag-status="{{ item.flags.sell }}" class="card-flag-button button-enabled" ng-click='toggleFlag("sell-" + item.game_id + "-btn");' ng-if="item.flags.sell=='Y'">
            <div class="icon-flag-sell"></div>
            <span>VENDO</span>
         </button>
         <button id="sell-{{item.game_id}}-btn" data-flag-status="{{ item.flags.sell }}" class="card-flag-button" ng-click='toggleFlag("sell-" + item.game_id + "-btn");' ng-if="item.flags.sell!='Y'">
            <div class="icon-flag-sell"></div>
            <span>VENDO</span>
         </button>
      </div>
   </div>
</div>