<!-- MENU -->
<div id="sidebar" class="sidebar">
   <div class="sidebar-content">
      <div class="sidebar-container-top">
         <a class="menu" href="javascript:openMenu();" id="btn_menu"></a>
      </div>
      <div ng-show="user_id != null" class="menu_profile">
         
         <div ng-show="user_id != null" class="menu_profile--image" style="background-image: url('{{ base_url }}pictures/profile/{{ profile_data.picture_url }}');"></div>
         
         <h2 ng-show="user_id != null" class="menu_profile--username">{{ profile_data.nickname }}</h2>
         <h4  ng-show="user_id != null"class="menu_profile--email">{{ profile_data.user_email }}</h4>
         <!--//
         <h4  ng-show="user_id != null"class="menu_profile--email">Ranking geral -  #9</h4>
         //-->
      </div>
      <ul>
         <li ng-show="user_id != null"><a href="#" ng-click="clearFriend();doGetAllGames();" class="selected" class="selected" class="selected" class="selected" class="selected">Todos jogos</a></li>         
         <li ng-show="user_id != null"><a href="#" ng-click="clearFriend();actionProfile();" class="selected">Perfil</a></li>
         <li ng-show="user_id != null"><a href="#" ng-click="clearFriend();getFriends('', 1);" class="selected">Amigos</a></li>
         <li ng-show="user_id != null" ><a href="#" class="selected" ng-click="clearFriend(); actionTop10(system_id);">TOP 10</a></li>
         <li ng-show="user_id != null" ><a href="#" class="selected" ng-click="clearFriend();doActionFeedback();">Comente</a></li>
         <li ng-show="user_id != null" ><a href="#" class="selected" ng-click="clearFriend();doActionTerms();">Termos de Uso</a></li>
         <li ng-show="user_id == null"><a href="#" ng-click="clearFriend();actionLogin();" class="selected">Login</a></li>
         <li ng-show="user_id != null" ><a href="#" class="selected" ng-click="clearFriend();doLogout();">Sair</a></li>

      </ul>
   </div>
</div>
<!-- MENU -->

