  <style type="text/css">
  .card-message {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  margin: 1rem;
  margin-top: 100px;
  position: relative;
  width: 90%;
  padding: 30px;
  box-sizing: border-box;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-content{
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
}

h2.card-content{
  padding-left: 20px;
  font-size: 30px;
  border-bottom: 1px solid lightgray;
}

p.card-content{

  font-size: 20px;

}</style>

<div class="card-message card-1 warning-card">
	<p class="card-content">{{ error_message }}</p>
</div>