<div ng-if="current_view != 'views/login.html'" class="navbar" id="filter-menu">
   <div class="container-navbar">
      <a ng-if="menu_type != 'arrow'" class="menu" href="javascript:openMenu();" id="btn_menu"></a>
      <a ng-if="menu_type == 'arrow'" class="back-arrow" ng-click="history_back()" id="btn_menu"></a>
      <input ng-if="current_action=='list' && !friend" type="text" id="search-field" name="search-field" class="search" placeholder="Busca" ng-model="searchWord" ng-keyup="searchDebounce(searchWord)" />
      <ng-include src="'views/partials/profile-header.html'"></ng-include>
      <div ng-if="current_action!='list' && !friend" id="bar-title">{{ bar_title }}</div>      
      
      <div ng-if="current_action=='list' && !friend" id="systems-container">
         <select id="system_id" name="system_id" ng-model="system_id" ng-change="doGetSystemGames(system_id)">
            <option ng-selected="{{system.id == system_id}}" ng-repeat="system in systems" value="{{system.id}}">{{system.name}}</option>
         </select>
      </div>

      <div ng-if="current_action=='top10' && !friend" id="systems-container">
        <select id="system_id" name="system_id" ng-model="system_id" ng-change="actionTop10(system_id);">
          <option ng-selected="{{system.id == system_id}}" ng-repeat="system in systems" value="{{system.id}}">{{system.name}}</option>
        </select>                    
      </div>
   </div>
   
   <!-- <ng-include src="'views/partials/profile-header.html'"></ng-include> -->
   
   <div ng-if="current_action=='list'" class="toolbar-top">
      <div ng-if="params.flag == 'sell'" id="bt-sell" class="bt-header bt-sell-enabled" ng-click="doSearchByFlag('sell');">&nbsp;</div>
      <div ng-if="params.flag != 'sell'" id="bt-sell" class="bt-header bt-sell" ng-click="doSearchByFlag('sell');">&nbsp;</div>
      
      <div ng-if="params.flag == 'favorite'" id="bt-favorite" class="bt-header bt-favorite-enabled" ng-click="doSearchByFlag('favorite');">&nbsp;</div>
      <div ng-if="params.flag != 'favorite'" id="bt-favorite" class="bt-header bt-favorite" ng-click="doSearchByFlag('favorite');">&nbsp;</div>
      
      <div ng-if="params.flag == 'have'" id="bt-have" class="bt-header bt-have-enabled" ng-click="doSearchByFlag('have');">&nbsp;</div>
      <div ng-if="params.flag != 'have'" id="bt-have" class="bt-header bt-have" ng-click="doSearchByFlag('have');">&nbsp;</div>
      
      <div ng-if="params.flag == 'watch'" id="bt-watch" class="bt-header bt-watch-enabled" ng-click="doSearchByFlag('watch');">&nbsp;</div>
      <div ng-if="params.flag != 'watch'" id="bt-watch" class="bt-header bt-watch" ng-click="doSearchByFlag('watch');">&nbsp;</div>

      <div ng-if="params.flag == 'all' && !friend" id="bt-all" class="bt-header bt-all-enabled" ng-click="doGetAllGames();"><div class="bt-text">todos</div></div>
      <div ng-if="params.flag != 'all' && !friend" id="bt-all" class="bt-header bt-all" ng-click="doGetAllGames();"><div class="bt-text">TODOS</div></div>

      <div ng-if="friend" id="bt-message" class="bt-header bt-message" ng-click="actionChat(friend, menu_type, '0,10')"></div>
   </div>
  
</div>