<div ng-show="popupSellers == true" class="outer-window"></div>
<div ng-show="popupSellers == true" class="popup-sellers">
    <div class="popup-window">
        <div class="popup-title-bar">
            <h1 class="title-sell">{{ listSellers[0].game_title }}</h1>
            <button class="close-btn" ng-click="closeSellerPopup();">X</button>
        </div>
        <ul>
          <li ng-repeat="seller in listSellers">  
             <img  class="profile-img" src="{{ base_url }}pictures/profile/{{ seller.picture_url }}"/>
            <h2>{{ seller.nickname }}</h2>
            
            <span class="sell-price">{{ seller.game_value }}</span>
            
            <span ng-show="seller.city_name != null" class="sell-locale">O game está em {{ seller.city_name }} / {{ seller.state_short }}</span>
            
            <div class="button-wrapper">

            <div ng-show="seller.check_email == 1" class="sell-info">
              <button class="button-message" ng-click="wantThisGame(user_id, seller);"><img src="img/message_outline.png"/></button>
            </div>
            
            </div>

            <div ng-show="seller.check_email == 0" class="message-warning">Você enviou sua proposta a este vendedor.<div>
          </li>
        </ul>
    </div>
</div>