<div ng-if="friend" class="user-profile">
   <div class="header">
      <div class="profile-img" style="background: url('{{ base_url }}pictures/profile/{{ friend.picture_url }}'); background-size: cover;"></div>
      <h2 class="user-info">{{ friend.nickname }}</h2>
      <!-- <h2 ng-if="friend.resume" class="user-info-desc"><em>{{ friend.resume }}</em></h2> -->
      <!-- <h2 class="user-info-email">{{ friend.user_email }}</h2> -->
   </div>
</div>