<style type="text/css">
    div.people-search {
        display: block;
        clear: both;
        width: 100%;
        margin-bottom: 15px;
    }

    input#people-field {
        padding: 5px;
        float: left;
        width: 80%;
    }

    input#people-button {
        width: 12%;
        height: 30px;
        background-color: #1976D2;
        color: #FFF;
        border-radius: 10px;
        border-style: solid;
        border-width: 0;        
    }

    .people {
        width: 100%;
        font-size: 4vw;
    }

    .people div.card_title {
        font-size: 5.5vw;
        display: block;
        font-weight: bolder;
        margin-bottom: 9px;
        text-align: left;
        margin-left: 10px;
    }

    .people li {
        box-shadow: 0px 5px 2px -5px #000;
        border-top: 7px solid steelblue;
        border-radius: 20px;
        background-color: #FFF;
        padding-top: 10px;
        padding-bottom: 10px;        
        margin: 20px;
    }

    .people li span {
        background-color: #FFF;
        margin-left: 5px;
        display: inline;
        text-align: left;
    }

    .people li span {
        display: inline;
        width: 30%;
    }

    .people li span.button {
        text-align: center;
        padding: 7px;
        background-color: #1976D2;
        color: #FFF;
        border-radius: 10px;
        margin-top: 10px;
    }
</style>

<center>
<div class="form-container" id="form-container">
    <div class="people-search">
        <input ng-model="hadougamer_name" placeholder="Buscar hadougamer" id="people-field" type="text" />
        <input ng-click="getHadougamers(hadougamer_name)" id="people-button" type="button" value="ok" />
    </div>

    <ul class="people">
        <li  ng-repeat="hadougamer in hadougamers">
            <div class="card_title">{{ hadougamer.nickname | limitTo: 16 }}</div>
            <span ng-show="hadougamer.city_name != ''">{{ hadougamer.city_name }} / {{ hadougamer.state_short }}</span>
            <span ng-show="hadougamer.city_name == ''">Localidade não informada.</span>
            <br />
            <br />
            <span class="button">Avaliar</span>

        </li>
    </ul>
</div>
</center>