<style type="text/css">
.container-messages {
  float: left;
  margin-top: 100px;
  padding-bottom: 60px;
}

.full-width-row{
  display: block;
  width: 100%;
  float:left;
  padding: 10px;
  box-sizing: border-box;
}

.container-message{
  border-radius: 10px;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  border: 1px solid #BBB;
}

.chat-message{
  margin: 0;
}

.message-yours{
  background-color: #CAE6FC;
  float: right;
  max-width: 200px;
  padding: 10px 5px 10px 10px;
}

.message-theirs{
  background-color: #EBEBEB;
  color: black;
  float: left;
  max-width: 200px;
  padding: 10px 10px 10px 5px;
}

.btn-sendmessage{
  color: white;
  background-color: steelblue;
  float: right;
  text-align: center;
  margin: 0 10px 5px 0;
  bottom: 0;
  width: 53px;
  height: 50px;
  padding: 0;
  border-radius: 100%;
  border: 0;
  font-size: 15px;
  box-shadow: 1px 1px 10px -3px black
}

.floating-input{
  overflow: hidden;
  width: 100%;
  padding: 4px;
  background-color: white;

  border-radius: 5px;
  height: 50px;
  font-size: 15px;
  border: 1px solid #BBB;
  box-sizing:border-box;
}  

.chat-input-toolbar{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #D6D6D6;
  padding: 5px;
  padding-bottom: 0;
  border: 1px solid #BBB;
}
    .send-time{
  font-size: 10px;
  color: gray;
  margin-top: 0;
  
}
</style>

<div class="container-messages" id="chat-messages">    
  <div class="full-width-row" ng-repeat="chat in chat_messages">
    <div id="message-{{ chat.message_id }}" class="container-message message-{{ chat.origin }}">
      <p class="chat-message">{{ chat.message }}</p>
      <span class="send-time">{{ chat.date_time }}</span>
    </div>
  </div>  
</div>

<form class="chat-input-toolbar" action="" method="get">
  <input class="btn-sendmessage" type="button" name="send_message" ng-click="send_chat_message(friend.user_id, chat_message_text)" value="Enviar"/>
  <div style="overflow: hidden; padding-right: .5em;">
    <textarea class="floating-input message-input" placeholder="escreva sua mensagem" name="chat_message_text" id="chat_message_text" ng-model="chat_message_text"></textarea>
  </div>  
</form>