<center>
<div class="form-container login" id="form-container">
	<div class="container-logo">
		<div class="login-logo"></div>
	</div>

    <input type="email" id="login_email" class="form-field" placeholder="Insira seu email" rerquired/>

    <input type="password" id="login_password" class="form-field" placeholder="Insira sua senha" required />

    <div class="form-element-container">
        <input type="button" class="form-button" ng-click="doLogin();" value="Entrar" />                                    
    </div>
    <div class="form-element-container">
        <a id="btn-register" class="mini-link" href="" ng-click="showSaveUser();">Cadastre-se</a>
        <a id="btn-register" class="mini-link" href="" ng-click="lostMypass();">Perdi minha senha</a>
    </div>
</div>
</center>