<style type="text/css">
.top-card{
  margin: 5px 0 5px 0;
  background-color: white;
  width: 97%;
  height: auto;
  border: 1px solid lightgray;
  padding: 10px 0 10px 10px;
  float: left;
  margin-left: 1.5%;
}

.top-picture{
  float: left;
  height: 100px;
  width: 100px;
  max-width: 100px;
  box-sizing: border-box;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 6px 0px black
}


.top-card-right{
  float: left;
  width: 50%;
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}

.top-icon{
  height: 25px;
  background-image: url('http://beecoapp.com/ws-game/images/crown.png');
  width: 25px;
  background-size: 100%;
  float: right;
}
.top-title{
  margin-top: 5px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 4.5vw;
}

.top-name{
  font-size: 18px;
  margin-bottom: 28px;
  font-size: 5vw;
}

.top-system{
  font-size: 15px;
  color: gray;
  font-size: 5vw;
}
</style>

<div class="form-container" id="form-container" style="margin-top:70px; margin-bottom:10px;">
  <div ng-if="!error_message" ng-repeat="item in topList" class="top-card" ng-repeat="item in topList">
      <div class="top-picture" 
      style="background-image:url('{{ base_url }}pictures/profile/{{ item.picture_url }}')"></div>
    <div class="top-card-right">
      <div class="top-icon"></div>
      <div class="top-title">Posição #{{$index + 1}}</div>
      
      <div class="top-name">{{ item.nickname | limitTo: 16}}</div>
      <div class="top-system">{{ item.counter }} jogos de {{ item.system_short }}</div>
    </div>
  </div>
   
   <div ng-if="error_message" ng-include="'views/partials/card-message.html'"></div>
</div>

