input#search-games {
  width:90%;
  padding: 5px;
  line-height: 20px;
  font-size:20px;
}

#filter-menu ul {
  padding:0px;
  margin:0px;
  background-color:#68C8C7;
  list-style:none;
  width: 100%;
}

#filter-menu ul li { display: inline; }

#filter-menu ul li a {
  padding: 7px 10px;
  display: inline-block;
  background-color:#68C8C7;
  color: #FFF;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

#filter-menu {
  display: block;
  background-color: #2196F3;
  position:fixed;
  width:100%;
}

#filter-menu ul li a * {
  float: left;
}

#filter-menu ul li a div {
  width:30px;
  height:30px;
  margin-right: 8px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;    
}

#filter-menu ul li#filter-favorite a div {
    background-image: url('../img/favorite-icon-color-30.png');
}

#filter-menu ul li#filter-have a div {
    background-image: url('../img/have-icon-color-30.png');
}

#filter-menu ul li#filter-watch a div {
    background-image: url('../img/watch-icon-color-30.png');
}

#filter-menu ul li#filter-general a div {
    background-image: url('../img/general-icon.png');    
}

#filter-menu {
  text-align: center;
  padding: 0;
}

.container-navbar{
  width: 100%;
  box-sizing: border-box;
  background-color: #2196F3;
  height: 100%;
  padding: 0 0px 0 10px;
}

.search{
  /*height: 40px;*/
  width: 42%;
  border: none;
  border-bottom: 1px solid lightgray;
  box-sizing:border-box;
  font-size: 18px;
  margin-left: 10px;
  background-color: transparent;
  border-radius: 15px;
  color: #FFF;
  text-align: left;
  float: left;
  border-radius: 0;
  border-color: white;
  padding-top: 20px;
}

.bt-header {
  height: 100%;
  box-sizing: border-box;
  float: right;
  width: 40px;
  display: inline-block;
  color: white;  
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}


.toolbar-top{
  width: 100%;
  background-color: #03A9F4;
  height: 40px;
  float: left;
  margin-top: -2px;
}

.toolbar-top div{
  width: 20%;
  text-align: center;
  
}

.bt-have {
  
  background-image: url('../img/have-icon-disabled.png');
}
.bt-have-enabled {
  background-color: #FF9800; 
  background-image: url('../img/have-icon-disabled.png');
}

.bt-watch {
  background-image: url('../img/watch-icon-disabled.png');
}
.bt-watch-enabled {
  background-color: #FF9800; 
  background-image: url('../img/watch-icon-disabled.png');
}

.bt-favorite {
  background-image: url('../img/favorite-icon-disabled.png');
}
.bt-favorite-enabled {
  background-color: #FF9800;
  background-image: url('../img/favorite-icon-disabled.png');
}

.bt-sell {
  background-image: url('../img/sell-icon-disabled.png');
}
.bt-sell-enabled {
  background-color: #FF9800; 
  background-image: url('../img/sell-icon-disabled.png');
}


.bt-message {
  background-image: url('../img/icon_chat.png');
  background-color: forestgreen; 
}

.bt-text{
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.bt-all {
  display: table;
  font-size: 12px;
  background-size: 24px;

}
.bt-all-enabled {
  background-color: #FF9800; 
}

.menu {
  display: block;
  width: 25px;
  height: 20px;
  margin-top:15px;
  margin-right:5px;
  background-image: url('../img/icon-burger.png');
  float: left;
} 

.back-arrow{
  display: block;
  width: 24px;
  height: 24px;
  background-size: 24px;
  margin-top: 12px;
  margin-right:5px;
  background-image: url('../img/ic_arrow_back_white_24dp.png');
  float: left;
}

div.nav-item {  
  float: left;
  text-align: center;    
}

div#nav-left { width: 20%; }
div#nav-center { width: 60%; }
div#nav-right { width: 20%; }


.navbar{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  margin: 0;
  left: 0;
  /*box-shadow: 1px -2px 10px 1px #000;*/
  -webkit-backface-visibility: hidden;
  padding-left: 2%;
  z-index: 2;
}

.btn_menu{
  display: block;
  width: 50px;
  height: 100%;

}

.sidebar{
  z-index: 5000;
  height: 100%;
  width: 270px;
  background-color: #FFF;
  position: fixed;
  left: -330px;
  transition: all 300ms ease;
  border-style: none;
  box-shadow: -3px 0px 10px 3px #000;
  box-sizing: border-box;
  display: block;
}

.sidebar-container-top{
  background-color: #FF9800;
  width: 100%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  padding-top: 0;
}

.sidebar-content{
    overflow: scroll; 
    overflow-x:hidden;
    height:100%
}

.sidebar.opened{
  left: 0px;
}

.sidebar ul{
  
}

.sidebar li{
  border-top: 1px solid #D1D1D1;
  padding-left: 20px;
  color: #247573;
}

.sidebar a{
  text-decoration: none;
  color: #1976D2;
  display: block;
  line-height: 45px;
}

.menu_profile{
  width: 100%;
  background-color: #FF9800;
  box-sizing:border-box;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 20px;
  background-size: cover;
  float: left;
}

.menu_profile--image{
  height: 70px;
  width: 70px;
  max-width: 100px;
  box-sizing: border-box;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  margin-bottom: 15px;
  float: left;
}

.menu_profile--username,.menu_profile--email{
  color: #000;
  margin: 3px 0 3px 0;
  font-weight: 100;
  padding-left: 10px;
  line-height: 20px;
  float: left;
}

.menu_profile--username{
  font-size: 16px;
}

.menu_profile--email{
  font-size: 14px;
}

div#bar-title {
  width:60%;
  float: left;
  box-sizing: border-box;
  padding: 17px;
  color: #FFF;
  font-size: 13pt;
  font-weight: bolder;
  text-align: left;
}

